@model Vidly.ViewModel.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<button class="btn btn-warning">@Html.ActionLink("New", "New", "Movies")</button>

<table class="table table-hover">
    <thead>
    <tr class="table-danger">
        <th>Movies</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model.Movies)
    {
        <tr class="table-info">
            <td>
                @Html.ActionLink(movie.Name, "Edit", "Movies", new { Id = movie.Id }, null)
            </td>
            <td>
                @movie.Genre.Name
            </td>
        </tr>
    }   
    </tbody>
</table>