@model Vidly.ViewModel.RandomMovieViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<button class="btn btn-warning">@Html.ActionLink("New", "New", "Customers")</button>

<table id="customers" class="table table-hover">
    <thead>
    <tr class="table-danger">
        <th>Customers</th>
        <th>Discount Rate</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var customer in Model.Customers)
    {
        <tr class="table-info">
            @{
                string customerLinkData = $"{customer.Name} {customer.Surname}";
            }
            <td>
                @Html.ActionLink(customerLinkData, "Edit", "Customers", new { Id = customer.Id }, null)
            </td>
            <td>
                @customer.MembershipType.Name
            </td>
            <td>
                <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
            </td>
        </tr>
    }   
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
             
            $("#customers").on("click", ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete this customer?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/customers/" + button.attr("data-customer-id"),
                                    method: "DELETE",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }

                                });
                            }
                        });
                });
        });
    </script>
}
