@model Vidly.ViewModel.RandomMovieViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-hover">
    <thead>
        <tr class="table-danger">
            <th>Customers</th>
            <th>Discount Rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
        <tr class="table-info">
            @{
        string customerLinkData = $"{customer.Name} {customer.Surname}";
            }
            <td>
                @Html.ActionLink(customerLinkData, "Detail", "Customers", new { Id = customer.Id }, null)
            </td>
            <td>
                @customer.MembershipType.Name
            </td>
        </tr>
        }   
    </tbody>
</table>
